<h1><%= @cocktail.name %></h1>

<%= link_to "Back to all cocktails", root_path %>

<h3>Doses</h3>
<table>
  <tbody>
    <thead>
      <th>Ingredient</th>
      <th>Description</th>
      <th>Action</th>
    </thead>
    <% @cocktail.doses.each do |dose| %>
      <tr>
        <td><%= dose.ingredient.name %></td>
        <td><%= dose.description %></td>
        <td>
          <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 you successfully signed in to our service.</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>

<%= link_to "Add Dose", new_cocktail_dose_path(@cocktail) %>
